apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry-data
  namespace: container-registry
  labels:
    app: registry
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Gi
