apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: container-registry
  labels:
    app: registry
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500
    protocol: TCP
    name: http
  selector:
    app: registry
---
apiVersion: v1
kind: Service
metadata:
  name: registry-internal
  namespace: container-registry
  labels:
    app: registry
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: registry
